.search {
  &-logo {
  }
  &-title {
    padding-top: 90px;

    &-border {
      border-bottom: solid 1px #979797;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding-bottom: 90px;
      animation-delay: 1.7s !important;
    }
    &-name {
      font-family: EncorpadaClassicBold;
      font-size: 60px;
      font-weight: bold;
      line-height: 0.7;
      color: #58585a;
    }
    &-close {
      font-family: SangBleuSans;
      font-size: 12px;
      color: #000000;
      padding-right: 15px;
      margin-top: auto;
      margin-left: auto;
    }
  }
  &-product {
    .single-item {
      .text-header {
        font-size: 24px !important;
      }
    }
    padding-top: 90px;
    &-border {
      padding-bottom: 60px;
      border-bottom: solid 1px #979797;
      animation-delay: 1.7s !important;
    }

    &-text {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 60px;

      &-title {
        font-family: EncorpadaClassicBold;
        font-size: 36px;
        font-weight: bold;
        line-height: 1.17;
        color: #000000;
      }

      &-result {
        margin: auto 0;
        margin-left: auto;

        font-family: SangBleuSans;
        font-size: 18px;
        text-align: right;
        color: #000000;
      }
    }
  }
}

.search-logo-button {
  padding: 0 15px;
  margin: auto 0;
  margin-left: auto;
  img {
    margin-right: 15px;
  }
  input {
    font-family: EncorpadaClassic;
    font-size: 12px;
    color: #58585a;
    border: none;
    border-bottom: solid 1px #58585a;
    width: 200px;
    background: none;
    &:focus {
      outline: none;
      border-bottom: solid 1px #58585a;
    }
  }
}
.search-product-border {
  font-family: SangBleuSans;
  font-size: 18px;
  color: #000000;
}
